<aside class="sidebar" [@openClose]="menuState">
  <nav class="sidebar__nav">
    <ul class="sidebar__menu">
      <li class="sidebar__menu-item item">
        <a class="item__link" routerLink="/home">Home</a>
      </li>
      <li class="sidebar__menu-item item">
        <a class="item__link" routerLink="/criaturas">Criaturas</a>
      </li>
      <li class="sidebar__menu-item item">
        <a class="item__link" routerLink="/contato">Contato</a>
      </li>
      <li class="sidebar__menu-item item">
        <a class="item__link">Trabalhos</a>
      </li>
    </ul>
  </nav>
</aside>
