@import '../../../assets/sass/util';

.sidebar {
  background-color: $primaryColor;
  border-right: 2px solid $darkColor;
  height: 100vh;
  opacity: 0.9;
  position: fixed;
  z-index: 999;
  top: 0;

  @include for-phone-only {
    width: 80%;
  }

  @include for-tablet-only {
    width: 60%;
  }

  @include for-desktop-only {
    width: 30%;
  }

  &__menu {
    padding: .75rem 0;
  }
}

.item {
  padding: .6rem .75rem;
  width: 100%;
  font-weight: bold;

  &:hover {
    background-color: $darkColor;
    cursor: pointer;
    transition: .3s ease-in-out;

    .item__link {
      color: $branco;
    }
  }

  &__link {
    color: $darkColor;
    text-decoration: none;
    font-family: 'Open Sans';

    @include for-phone-only {
      font-size: 2.5rem;
    }

    @include for-tablet-only {
      font-size: 2rem;
    }

    @include for-desktop-only {
      font-size: 1.8rem;
    }

  }
}
