<div class="container dashboard">
  <div class="row dashboard__row">
    <app-card class="col-6 dashboard__card" routerLink="players">
      <ng-template #cardBody>
        <div class="dashboard__card-container">
          <img src="/assets/images/escalacao.png" alt="" />
          <a class="dashboard__card-titulo">Jogadores</a>
        </div>
      </ng-template>
    </app-card>

    <app-card class="col-6 dashboard__card" routerLink="matches">
      <ng-template #cardBody>
        <div class="dashboard__card-container">
          <img src="/assets/images/jogos.jpeg" alt="" />
          <a class="dashboard__card-titulo">Jogos</a>
        </div>
      </ng-template>
    </app-card>
  </div>
  <div class="row">
    <app-card class="col-6 dashboard__card" routerLink="statistics">
      <ng-template #cardBody>
        <div class="dashboard__card-container">
          <img src="/assets/images/estatisticas.jpg" alt="" />
          <a class="dashboard__card-titulo">Estatísticas</a>
        </div>
      </ng-template>
    </app-card>

    <app-card class="col-6 dashboard__card" routerLink="comparation">
      <ng-template #cardBody>
        <div class="dashboard__card-container">
          <img src="/assets/images/comparacao.png" alt="" />
          <a class="dashboard__card-titulo">Comparações</a>
        </div>
      </ng-template>
    </app-card>
  </div>
</div>
