<footer class="container-fluid footer">
  <div class="row footer__row wrap-box">
    <div class="footer__icons">
      <a href="tel:27999120357" class="footer__link">
        <em class="fas fa-phone-alt footer__icon footer__icon-phone" aria-hidden="true"></em>
      </a>
      <a href="mailto:diego.tesch@gmail.com" class="footer__link">
        <em class="fas fa-at footer__icon" aria-hidden="true"></em>
      </a>
      <a href="https://web.whatsapp.com/send?phone=5527999120357" class="footer__link">
        <em class="fab fa-whatsapp footer__icon" aria-hidden="true"></em>
      </a>
    </div>

    <div class="footer__address">
      <span>Colatina-ES</span>
      <span>Criado por Diego Tesch Gramelich</span>
      <span>Todos os direitos reservados</span>
    </div>
  </div>
</footer>
