<main class="container-fluid time-detail">
  <div class="wrap-box">
    <div class="time-detail__header header-team">
      <div class="header-team__team">
        <h2 class="header-team__titulo">{{ time?.nome | uppercase }}</h2>

        <img class="header-team__escudo" [src]="time?.escudo" alt="" />
      </div>
      <a class="header-team__back" (click)="backPage()">
        <em class="fas fa-angle-double-left"></em>
        Voltar
      </a>
    </div>

    <router-outlet></router-outlet>
  </div>
</main>
