<main class="container-fluid sobre">
  <div class="wrap-box">
    <div class="row sobre__row">
      <div class="col sobre__imagem"></div>
      <div class="col col-sm sobre__texto">
        <h2>Sobre mim...</h2>
        <p>
          Tudo começou em 2013, recém finalizado o curso de redes, consegui o meu primeiro emprego
          na área, trabalhando com desenvolvimento de relatórios web, apps para monitoramento de
          ativos de rede e aprimorando as habilidade com gráficos
        </p>

        <p>
          Posteriormente, em 2017 trabalhei como freelancer e expandi os conhecimentos relacionados
          a javascript e frameworks a fim. Atendia a poucos clientes, porém todos proporcionavam
          desafios interessantes para meu crescimento profissional
        </p>

        <p>
          No ano de 2019 comecei a trabalhar como desenvolvedor fullstack em uma fábrica de
          software, onde tive contato com uma quantidade incomensurável de tecnologias diferentes.
          Pude aprimorar ainda mais os conhecimentos e liderar equipes de desenvolvimento.
        </p>

        <p>
          Hoje atuo como desenvolvedor Frontend e presto serviços de consultaria, desenvolvimento e
          implementação de sistemas WEB.
        </p>
      </div>
    </div>
  </div>
</main>
